USE [master]
GO
/****** Object:  Database [QuanLyVeTau_JPA_Database_SQL]    Script Date: 01/05/2026 6:56:11 CH ******/
IF NOT EXISTS (SELECT name FROM sys.databases WHERE name = N'QuanLyVeTau_JPA_Database_SQL')
BEGIN
    CREATE DATABASE [QuanLyVeTau];
    PRINT N'Đã tạo mới Database QuanLyVeTau.';
END
ELSE
BEGIN
    PRINT N'Database QuanLyVeTau đã tồn tại, bỏ qua bước tạo mới.';
END
GO


USE [QuanLyVeTau_JPA_Database_SQL]
GO
/****** Object:  Table [dbo].[CaLamViec]    Script Date: 01/05/2026 6:56:11 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CaLamViec](
	[MaCaLamViec] [int] IDENTITY(1,1) NOT NULL,
	[ThoiGianBatDau] [datetime] NULL,
	[ThoiGianKetThuc] [datetime] NULL,
 CONSTRAINT [PK_CaLamViec] PRIMARY KEY CLUSTERED 
(
	[MaCaLamViec] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietHoaDon]    Script Date: 01/05/2026 6:56:11 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietHoaDon](
	[MaHD] [nvarchar](50) NOT NULL,
	[MaVe] [nvarchar](20) NOT NULL,
	[SoLuong] [int] NOT NULL,
	[DonGia] [decimal](12, 0) NOT NULL,
 CONSTRAINT [PK_ChiTietHoaDon] PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC,
	[MaVe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChoDat]    Script Date: 01/05/2026 6:56:11 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChoDat](
	[MaCho] [nvarchar](20) NOT NULL,
	[MaToa] [nvarchar](10) NOT NULL,
	[SoCho] [nvarchar](10) NULL,
	[Khoang] [int] NULL,
	[Tang] [int] NULL,
	[MaChuyenTau] [nvarchar](20) NULL,
 CONSTRAINT [PK_ChoDat] PRIMARY KEY CLUSTERED 
(
	[MaCho] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChuyenTau]    Script Date: 01/05/2026 6:56:11 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChuyenTau](
	[MaChuyenTau] [nvarchar](50) NOT NULL,
	[MaTuyen] [nvarchar](10) NULL,
	[MaTau] [nvarchar](10) NOT NULL,
	[MaNV] [nvarchar](50) NULL,
	[GaDi] [nvarchar](10) NOT NULL,
	[GaDen] [nvarchar](10) NOT NULL,
	[NgayKhoiHanh] [date] NOT NULL,
	[GioKhoiHanh] [time](7) NULL,
	[NgayDenDuKien] [date] NOT NULL,
	[GioDenDuKien] [time](7) NULL,
	[TrangThai] [nvarchar](255) NULL,
 CONSTRAINT [PK__ChuyenTa__8EB73BB04AA7B38B] PRIMARY KEY CLUSTERED 
(
	[MaChuyenTau] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ga]    Script Date: 01/05/2026 6:56:11 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ga](
	[MaGa] [nvarchar](10) NOT NULL,
	[TenGa] [nvarchar](100) NULL,
	[DiaChi] [nvarchar](255) NULL,
 CONSTRAINT [PK_Ga] PRIMARY KEY CLUSTERED 
(
	[MaGa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GA_TRONG_TUYEN]    Script Date: 01/05/2026 6:56:11 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GA_TRONG_TUYEN](
	[MaTuyen] [nvarchar](10) NOT NULL,
	[MaGa] [nvarchar](10) NOT NULL,
	[ThuTuGa] [int] NOT NULL,
	[KhoangCachTichLuy] [int] NOT NULL,
	[ThoiGianDung] [int] NULL,
	[ThoiGianDiChuyenToiGaTiepTheo] [int] NULL,
 CONSTRAINT [PK_GaTrongTuyen] PRIMARY KEY CLUSTERED 
(
	[MaTuyen] ASC,
	[MaGa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 01/05/2026 6:56:11 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDon](
	[MaHD] [nvarchar](50) NOT NULL,
	[MaKhachHang] [nvarchar](12) NOT NULL,
	[MaNVLap] [nvarchar](50) NOT NULL,
	[MaKM] [varchar](50) NULL,
	[TongCong] [float] NULL,
	[NgayLap] [datetime] NULL,
	[PhuongThuc] [nvarchar](50) NULL,
	[LoaiHoaDon] [nvarchar](50) NULL,
	[TongTien] [float] NULL,
	[MaHD_Goc] [nvarchar](50) NULL,
	[MaHoaDon_Goc] [varchar](255) NULL,
 CONSTRAINT [PK_HoaDon] PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 01/05/2026 6:56:11 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[MaKhachHang] [nvarchar](12) NOT NULL,
	[HoTen] [nvarchar](100) NOT NULL,
	[CCCD] [char](12) NULL,
	[Tuoi] [int] NULL,
	[SoDienThoai] [varchar](20) NULL,
	[GioiTinh] [nvarchar](10) NULL,
	[NgaySinh] [date] NULL,
 CONSTRAINT [PK_KhachHang] PRIMARY KEY CLUSTERED 
(
	[MaKhachHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhuyenMai]    Script Date: 01/05/2026 6:56:11 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhuyenMai](
	[MaKM] [varchar](50) NOT NULL,
	[TenKM] [nvarchar](255) NOT NULL,
	[LoaiKM] [nvarchar](50) NULL,
	[GiaTriGiam] [numeric](38, 2) NULL,
	[DKApDung] [nvarchar](50) NULL,
	[GiaTriDK] [numeric](38, 2) NULL,
	[NgayBD] [datetime] NOT NULL,
	[NgayKT] [datetime] NOT NULL,
	[TrangThai] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiToa]    Script Date: 01/05/2026 6:56:11 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiToa](
	[MaLoaiToa] [nvarchar](20) NOT NULL,
	[TenLoaiToa] [nvarchar](50) NULL,
	[HeSo] [float] NOT NULL,
 CONSTRAINT [PK_LoaiChoDat] PRIMARY KEY CLUSTERED 
(
	[MaLoaiToa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiVe]    Script Date: 01/05/2026 6:56:11 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiVe](
	[MaLoaiVe] [nvarchar](10) NOT NULL,
	[TenLoaiVe] [nvarchar](50) NULL,
	[MucGiamGia] [float] NULL,
	[TuoiMin] [int] NULL,
	[TuoiMax] [int] NULL,
 CONSTRAINT [PK_LoaiVe] PRIMARY KEY CLUSTERED 
(
	[MaLoaiVe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 01/05/2026 6:56:11 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[MaNV] [nvarchar](50) NOT NULL,
	[HoTen] [nvarchar](100) NULL,
	[SoCCCD] [nvarchar](100) NULL,
	[NgaySinh] [date] NULL,
	[Email] [nvarchar](100) NULL,
	[SDT] [varchar](255) NULL,
	[GioiTinh] [nvarchar](10) NULL,
	[DiaChi] [nvarchar](255) NOT NULL,
	[NgayVaoLam] [date] NULL,
	[ChucVu] [nvarchar](50) NULL,
	[CaLamViec] [int] NULL,
 CONSTRAINT [PK_NhanVien] PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 01/05/2026 6:56:11 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[TenDangNhap] [nvarchar](50) NOT NULL,
	[MaNV] [nvarchar](50) NOT NULL,
	[MatKhau] [nvarchar](255) NOT NULL,
	[NgayTao] [datetime] NULL,
	[TrangThai] [varchar](255) NULL,
 CONSTRAINT [PK_TaiKhoan] PRIMARY KEY CLUSTERED 
(
	[TenDangNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tau]    Script Date: 01/05/2026 6:56:11 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tau](
	[SoHieu] [nvarchar](10) NOT NULL,
	[TrangThai] [nvarchar](50) NULL,
 CONSTRAINT [PK_Tau] PRIMARY KEY CLUSTERED 
(
	[SoHieu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Toa]    Script Date: 01/05/2026 6:56:11 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Toa](
	[MaToa] [nvarchar](10) NOT NULL,
	[SoHieuTau] [nvarchar](20) NULL,
	[maLoaiToa] [nvarchar](20) NULL,
	[MaTau] [nvarchar](20) NULL,
 CONSTRAINT [PK_Toa] PRIMARY KEY CLUSTERED 
(
	[MaToa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TUYEN]    Script Date: 01/05/2026 6:56:11 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TUYEN](
	[MaTuyen] [nvarchar](10) NOT NULL,
	[TenTuyen] [nvarchar](100) NOT NULL,
	[GaDau] [nchar](10) NOT NULL,
	[GaCuoi] [nchar](10) NOT NULL,
	[DonGiaKm] [int] NOT NULL,
 CONSTRAINT [PK_Tuyen] PRIMARY KEY CLUSTERED 
(
	[MaTuyen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ve]    Script Date: 01/05/2026 6:56:11 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ve](
	[MaVe] [nvarchar](20) NOT NULL,
	[MaChuyenTau] [nvarchar](50) NOT NULL,
	[MaChoDat] [nvarchar](20) NOT NULL,
	[MaNV] [varchar](255) NULL,
	[MaKhachHang] [nvarchar](12) NULL,
	[MaLoaiVe] [nvarchar](10) NOT NULL,
	[GiaVe] [decimal](18, 0) NULL,
	[TrangThai] [nvarchar](50) NULL,
	[ThanhTien] [decimal](18, 0) NULL,
 CONSTRAINT [PK_Ve] PRIMARY KEY CLUSTERED 
(
	[MaVe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CaLamViec] ON 

INSERT [dbo].[CaLamViec] ([MaCaLamViec], [ThoiGianBatDau], [ThoiGianKetThuc]) VALUES (1, CAST(N'2025-10-17T08:00:00.000' AS DateTime), CAST(N'2025-10-17T12:00:00.000' AS DateTime))
INSERT [dbo].[CaLamViec] ([MaCaLamViec], [ThoiGianBatDau], [ThoiGianKetThuc]) VALUES (2, CAST(N'2025-10-18T13:00:00.000' AS DateTime), CAST(N'2025-10-18T17:00:00.000' AS DateTime))
INSERT [dbo].[CaLamViec] ([MaCaLamViec], [ThoiGianBatDau], [ThoiGianKetThuc]) VALUES (3, CAST(N'2025-10-17T14:00:00.000' AS DateTime), CAST(N'2025-10-17T18:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[CaLamViec] OFF
GO
INSERT [dbo].[ChiTietHoaDon] ([MaHD], [MaVe], [SoLuong], [DonGia]) VALUES (N'HD0101052600010001', N'VE010526000001', 1, CAST(524 AS Decimal(12, 0)))
INSERT [dbo].[ChiTietHoaDon] ([MaHD], [MaVe], [SoLuong], [DonGia]) VALUES (N'HD0121122500010001', N'VE012112250001', 1, CAST(688000 AS Decimal(12, 0)))
INSERT [dbo].[ChiTietHoaDon] ([MaHD], [MaVe], [SoLuong], [DonGia]) VALUES (N'HD0121122500010002', N'VE012112250002', 1, CAST(688000 AS Decimal(12, 0)))
GO
INSERT [dbo].[ChoDat] ([MaCho], [MaToa], [SoCho], [Khoang], [Tang], [MaChuyenTau]) VALUES (N'SE1-1-C01', N'SE1-1', N'01', NULL, NULL, NULL)
INSERT [dbo].[ChoDat] ([MaCho], [MaToa], [SoCho], [Khoang], [Tang], [MaChuyenTau]) VALUES (N'SE1-1-C02', N'SE1-1', N'02', NULL, NULL, NULL)
INSERT [dbo].[ChoDat] ([MaCho], [MaToa], [SoCho], [Khoang], [Tang], [MaChuyenTau]) VALUES (N'SE1-1-C03', N'SE1-1', N'03', NULL, NULL, NULL)
GO
INSERT [dbo].[ChuyenTau] ([MaChuyenTau], [MaTuyen], [MaTau], [MaNV], [GaDi], [GaDen], [NgayKhoiHanh], [GioKhoiHanh], [NgayDenDuKien], [GioDenDuKien], [TrangThai]) VALUES (N'SE1_201225_DNA_NTR', N'SE1       ', N'SPT2', N'ADMIN001', N'DNA', N'NTR', CAST(N'2025-12-20' AS Date), CAST(N'22:45:00' AS Time), CAST(N'2025-12-21' AS Date), CAST(N'07:45:00' AS Time), N'Chờ khởi hành')
INSERT [dbo].[ChuyenTau] ([MaChuyenTau], [MaTuyen], [MaTau], [MaNV], [GaDi], [GaDen], [NgayKhoiHanh], [GioKhoiHanh], [NgayDenDuKien], [GioDenDuKien], [TrangThai]) VALUES (N'SE1_201225_DNA_SAG', N'SE1       ', N'SPT2', N'ADMIN001', N'DNA', N'SAG', CAST(N'2025-12-20' AS Date), CAST(N'22:45:00' AS Time), CAST(N'2025-12-21' AS Date), CAST(N'16:00:00' AS Time), N'Chờ khởi hành')
INSERT [dbo].[ChuyenTau] ([MaChuyenTau], [MaTuyen], [MaTau], [MaNV], [GaDi], [GaDen], [NgayKhoiHanh], [GioKhoiHanh], [NgayDenDuKien], [GioDenDuKien], [TrangThai]) VALUES (N'SE1_201225_HAN_DNA', N'SE1       ', N'SPT2', N'ADMIN001', N'HAN', N'DNA', CAST(N'2025-12-20' AS Date), CAST(N'06:00:00' AS Time), CAST(N'2025-12-20' AS Date), CAST(N'22:25:00' AS Time), N'Chờ khởi hành')
GO
INSERT [dbo].[Ga] ([MaGa], [TenGa], [DiaChi]) VALUES (N'DNA', N'Đà Nẵng', N'Đà Nẵng')
INSERT [dbo].[Ga] ([MaGa], [TenGa], [DiaChi]) VALUES (N'HAN', N'Hà Nội', N'Hà Nội')
INSERT [dbo].[Ga] ([MaGa], [TenGa], [DiaChi]) VALUES (N'HUE', N'Huế', N'Thừa Thiên Huế')
GO
INSERT [dbo].[GA_TRONG_TUYEN] ([MaTuyen], [MaGa], [ThuTuGa], [KhoangCachTichLuy], [ThoiGianDung], [ThoiGianDiChuyenToiGaTiepTheo]) VALUES (N'SE1', N'DNA', 4, 791, 20, 540)
INSERT [dbo].[GA_TRONG_TUYEN] ([MaTuyen], [MaGa], [ThuTuGa], [KhoangCachTichLuy], [ThoiGianDung], [ThoiGianDiChuyenToiGaTiepTheo]) VALUES (N'SE1', N'HAN', 1, 0, 0, 360)
INSERT [dbo].[GA_TRONG_TUYEN] ([MaTuyen], [MaGa], [ThuTuGa], [KhoangCachTichLuy], [ThoiGianDung], [ThoiGianDiChuyenToiGaTiepTheo]) VALUES (N'SE1', N'HUE', 3, 688, 10, 180)
GO
INSERT [dbo].[HoaDon] ([MaHD], [MaKhachHang], [MaNVLap], [MaKM], [TongCong], [NgayLap], [PhuongThuc], [LoaiHoaDon], [TongTien], [MaHD_Goc], [MaHoaDon_Goc]) VALUES (N'HD0101052600010001', N'KH0105260001', N'NVBV0001', NULL, 524, CAST(N'2026-05-01T18:45:05.993' AS DateTime), N'Tiền mặt', N'Bán vé trực tiếp', 524, NULL, NULL)
INSERT [dbo].[HoaDon] ([MaHD], [MaKhachHang], [MaNVLap], [MaKM], [TongCong], [NgayLap], [PhuongThuc], [LoaiHoaDon], [TongTien], [MaHD_Goc], [MaHoaDon_Goc]) VALUES (N'HD0121122500010001', N'KH1412250001', N'NVBV0001', NULL, NULL, CAST(N'2025-12-21T13:50:22.300' AS DateTime), N'Tiền mặt', N'Bán vé trực tiếp', 688000, NULL, NULL)
INSERT [dbo].[HoaDon] ([MaHD], [MaKhachHang], [MaNVLap], [MaKM], [TongCong], [NgayLap], [PhuongThuc], [LoaiHoaDon], [TongTien], [MaHD_Goc], [MaHoaDon_Goc]) VALUES (N'HD0121122500010002', N'KH1412250001', N'NVBV0001', NULL, NULL, CAST(N'2025-12-21T18:07:17.213' AS DateTime), N'Tiền mặt', N'Bán vé trực tiếp', 688000, NULL, NULL)
GO
INSERT [dbo].[KhachHang] ([MaKhachHang], [HoTen], [CCCD], [Tuoi], [SoDienThoai], [GioiTinh], [NgaySinh]) VALUES (N'KH0105260001', N'', N'            ', NULL, NULL, NULL, NULL)
INSERT [dbo].[KhachHang] ([MaKhachHang], [HoTen], [CCCD], [Tuoi], [SoDienThoai], [GioiTinh], [NgaySinh]) VALUES (N'KH1412250001', N'Duy', N'060205006764', NULL, N'0332534541', NULL, CAST(N'2005-09-09' AS Date))
INSERT [dbo].[KhachHang] ([MaKhachHang], [HoTen], [CCCD], [Tuoi], [SoDienThoai], [GioiTinh], [NgaySinh]) VALUES (N'KH1412250002', N'Nguyễn Văn A', N'011990000011', NULL, N'0901112222', NULL, CAST(N'1990-01-01' AS Date))
GO
INSERT [dbo].[KhuyenMai] ([MaKM], [TenKM], [LoaiKM], [GiaTriGiam], [DKApDung], [GiaTriDK], [NgayBD], [NgayKT], [TrangThai]) VALUES (N'KM0126001', N'Giảm 10 phần trăm từ ngày 19-25', N'PHAN_TRAM_GIA', CAST(10.00 AS Numeric(38, 2)), N'NONE', NULL, CAST(N'2025-12-19T00:00:00.060' AS DateTime), CAST(N'2025-12-25T23:59:59.003' AS DateTime), N'HOAT_DONG')
INSERT [dbo].[KhuyenMai] ([MaKM], [TenKM], [LoaiKM], [GiaTriGiam], [DKApDung], [GiaTriDK], [NgayBD], [NgayKT], [TrangThai]) VALUES (N'KM0126002', N'Ưu đãi Đầu Năm Mới 5%', N'PHAN_TRAM_GIA', CAST(5.00 AS Numeric(38, 2)), N'NONE', NULL, CAST(N'2026-01-15T00:00:00.000' AS DateTime), CAST(N'2026-02-15T23:59:59.000' AS DateTime), N'KHONG_HOAT_DONG')
INSERT [dbo].[KhuyenMai] ([MaKM], [TenKM], [LoaiKM], [GiaTriGiam], [DKApDung], [GiaTriDK], [NgayBD], [NgayKT], [TrangThai]) VALUES (N'KM0226005', N'Ưu đãi Lễ Tình Nhân 30%', N'PHAN_TRAM_GIA', CAST(30.00 AS Numeric(38, 2)), N'MIN_SL', CAST(4.00 AS Numeric(38, 2)), CAST(N'2026-02-01T00:00:00.000' AS DateTime), CAST(N'2026-02-14T23:59:59.000' AS DateTime), N'HOAT_DONG')
GO
INSERT [dbo].[LoaiToa] ([MaLoaiToa], [TenLoaiToa], [HeSo]) VALUES (N'GGNCU', N'Ghế ngồi cứng', 1)
INSERT [dbo].[LoaiToa] ([MaLoaiToa], [TenLoaiToa], [HeSo]) VALUES (N'GHMEM', N'Ghế mềm', 1)
INSERT [dbo].[LoaiToa] ([MaLoaiToa], [TenLoaiToa], [HeSo]) VALUES (N'GINAM', N'Giường nằm', 1.5)
GO
INSERT [dbo].[LoaiVe] ([MaLoaiVe], [TenLoaiVe], [MucGiamGia], [TuoiMin], [TuoiMax]) VALUES (N'VT01', N'Người lớn', 1, 11, 59)
INSERT [dbo].[LoaiVe] ([MaLoaiVe], [TenLoaiVe], [MucGiamGia], [TuoiMin], [TuoiMax]) VALUES (N'VT02', N'Trẻ em', 0.8, 1, 10)
INSERT [dbo].[LoaiVe] ([MaLoaiVe], [TenLoaiVe], [MucGiamGia], [TuoiMin], [TuoiMax]) VALUES (N'VT03', N'Người cao tuổi', 0.75, 60, 999)
GO
INSERT [dbo].[NhanVien] ([MaNV], [HoTen], [SoCCCD], [NgaySinh], [Email], [SDT], [GioiTinh], [DiaChi], [NgayVaoLam], [ChucVu], [CaLamViec]) VALUES (N'ADMIN001', N'Admin Tổng', N'000000000000', CAST(N'1990-01-01' AS Date), N'admin@gmail.com', N'0999888777', NULL, N'Test', NULL, NULL, 1)
INSERT [dbo].[NhanVien] ([MaNV], [HoTen], [SoCCCD], [NgaySinh], [Email], [SDT], [GioiTinh], [DiaChi], [NgayVaoLam], [ChucVu], [CaLamViec]) VALUES (N'NVBV0001', N'Lê Thị B', N'001198000002', CAST(N'1998-10-22' AS Date), N'leoviethung@gmail.com', N'0902345678', N'Nữ', N'200 Trường Chinh, TP. HCM', CAST(N'2020-01-10' AS Date), N'Nhân viên bán vé', 1)
INSERT [dbo].[NhanVien] ([MaNV], [HoTen], [SoCCCD], [NgaySinh], [Email], [SDT], [GioiTinh], [DiaChi], [NgayVaoLam], [ChucVu], [CaLamViec]) VALUES (N'NVQL0001', N'Trần Văn A', N'001195000001', CAST(N'1995-05-15' AS Date), N'nbduy99@gmail.com', N'0901234567', N'Nam', N'100 Quang Trung, Hà Nội', CAST(N'2018-08-20' AS Date), N'Trưởng phòng', NULL)
GO
INSERT [dbo].[TaiKhoan] ([TenDangNhap], [MaNV], [MatKhau], [NgayTao], [TrangThai]) VALUES (N'ADMIN001', N'ADMIN001', N'admin', CAST(N'2025-12-21T18:58:38.410' AS DateTime), N'Đang ho?t đ?ng')
INSERT [dbo].[TaiKhoan] ([TenDangNhap], [MaNV], [MatKhau], [NgayTao], [TrangThai]) VALUES (N'NVBV0001', N'NVBV0001', N'admin', CAST(N'2025-10-17T15:32:05.287' AS DateTime), N'Đang ho?t đ?ng')
INSERT [dbo].[TaiKhoan] ([TenDangNhap], [MaNV], [MatKhau], [NgayTao], [TrangThai]) VALUES (N'NVQL0001', N'NVQL0001', N'duy', CAST(N'2025-10-17T15:32:05.287' AS DateTime), N'Đang ho?t đ?ng')
GO
INSERT [dbo].[Tau] ([SoHieu], [TrangThai]) VALUES (N'SE1', N'Đang hoạt động')
INSERT [dbo].[Tau] ([SoHieu], [TrangThai]) VALUES (N'SE2', N'Đang hoạt động')
INSERT [dbo].[Tau] ([SoHieu], [TrangThai]) VALUES (N'SPT2', N'Đang hoạt động')
GO
INSERT [dbo].[Toa] ([MaToa], [SoHieuTau], [maLoaiToa], [MaTau]) VALUES (N'SE1-1', N'SE1', N'GHMEM', NULL)
INSERT [dbo].[Toa] ([MaToa], [SoHieuTau], [maLoaiToa], [MaTau]) VALUES (N'SE1-2', N'SE1', N'GHMEM', NULL)
INSERT [dbo].[Toa] ([MaToa], [SoHieuTau], [maLoaiToa], [MaTau]) VALUES (N'SE1-3', N'SE1', N'GINAM', NULL)
GO
INSERT [dbo].[TUYEN] ([MaTuyen], [TenTuyen], [GaDau], [GaCuoi], [DonGiaKm]) VALUES (N'SE1', N'Tàu Thống Nhất Bắc Nam', N'HAN       ', N'SAG       ', 1000)
INSERT [dbo].[TUYEN] ([MaTuyen], [TenTuyen], [GaDau], [GaCuoi], [DonGiaKm]) VALUES (N'SE2', N'Tàu siêu tốc Nam Bắc', N'SAG       ', N'HAN       ', 1200)
INSERT [dbo].[TUYEN] ([MaTuyen], [TenTuyen], [GaDau], [GaCuoi], [DonGiaKm]) VALUES (N'SE3', N'Hà nội sài gòn', N'HAN       ', N'SAG       ', 1300)
GO
INSERT [dbo].[Ve] ([MaVe], [MaChuyenTau], [MaChoDat], [MaNV], [MaKhachHang], [MaLoaiVe], [GiaVe], [TrangThai], [ThanhTien]) VALUES (N'VE010526000001', N'SE1_201225_DNA_NTR', N'SPT2-1-C02', N'NVBV0001', N'KH0105260001', N'VT01', CAST(524 AS Decimal(18, 0)), N'DA_BAN', NULL)
INSERT [dbo].[Ve] ([MaVe], [MaChuyenTau], [MaChoDat], [MaNV], [MaKhachHang], [MaLoaiVe], [GiaVe], [TrangThai], [ThanhTien]) VALUES (N'VE012112250001', N'SE1_241225_HAN_HUE', N'SE1-1-C17', N'NVBV0001  ', N'KH1412250001', N'VT01', CAST(688000 AS Decimal(18, 0)), N'DA_HUY', NULL)
INSERT [dbo].[Ve] ([MaVe], [MaChuyenTau], [MaChoDat], [MaNV], [MaKhachHang], [MaLoaiVe], [GiaVe], [TrangThai], [ThanhTien]) VALUES (N'VE012112250002', N'SE1_241225_HAN_HUE', N'SE1-1-C09', N'NVBV0001  ', N'KH1412250001', N'VT01', CAST(688000 AS Decimal(18, 0)), N'DA-HUY', NULL)
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_KhachHang_CCCD]    Script Date: 01/05/2026 6:56:11 CH ******/
ALTER TABLE [dbo].[KhachHang] ADD  CONSTRAINT [UQ_KhachHang_CCCD] UNIQUE NONCLUSTERED 
(
	[CCCD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_NhanVien_SoCCCD]    Script Date: 01/05/2026 6:56:11 CH ******/
ALTER TABLE [dbo].[NhanVien] ADD  CONSTRAINT [UQ_NhanVien_SoCCCD] UNIQUE NONCLUSTERED 
(
	[SoCCCD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_TaiKhoan_MaNV]    Script Date: 01/05/2026 6:56:11 CH ******/
ALTER TABLE [dbo].[TaiKhoan] ADD  CONSTRAINT [UQ_TaiKhoan_MaNV] UNIQUE NONCLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ChiTietHoaDon] ADD  DEFAULT ((0)) FOR [DonGia]
GO
ALTER TABLE [dbo].[HoaDon] ADD  CONSTRAINT [DF_HoaDon_NgayLap]  DEFAULT (getdate()) FOR [NgayLap]
GO
ALTER TABLE [dbo].[TaiKhoan] ADD  CONSTRAINT [DF_TaiKhoan_NgayTao]  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[TUYEN] ADD  DEFAULT ((0)) FOR [DonGiaKm]
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD  CONSTRAINT [FK_CTHD_HoaDon] FOREIGN KEY([MaHD])
REFERENCES [dbo].[HoaDon] ([MaHD])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChiTietHoaDon] CHECK CONSTRAINT [FK_CTHD_HoaDon]
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD  CONSTRAINT [FK_CTHD_Ve] FOREIGN KEY([MaVe])
REFERENCES [dbo].[Ve] ([MaVe])
GO
ALTER TABLE [dbo].[ChiTietHoaDon] CHECK CONSTRAINT [FK_CTHD_Ve]
GO
ALTER TABLE [dbo].[ChoDat]  WITH CHECK ADD  CONSTRAINT [FK_ChoDat_Toa] FOREIGN KEY([MaToa])
REFERENCES [dbo].[Toa] ([MaToa])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChoDat] CHECK CONSTRAINT [FK_ChoDat_Toa]
GO
ALTER TABLE [dbo].[ChuyenTau]  WITH CHECK ADD  CONSTRAINT [FK_ChuyenTau_GaDen] FOREIGN KEY([GaDen])
REFERENCES [dbo].[Ga] ([MaGa])
GO
ALTER TABLE [dbo].[ChuyenTau] CHECK CONSTRAINT [FK_ChuyenTau_GaDen]
GO
ALTER TABLE [dbo].[ChuyenTau]  WITH CHECK ADD  CONSTRAINT [FK_ChuyenTau_GaDi] FOREIGN KEY([GaDi])
REFERENCES [dbo].[Ga] ([MaGa])
GO
ALTER TABLE [dbo].[ChuyenTau] CHECK CONSTRAINT [FK_ChuyenTau_GaDi]
GO
ALTER TABLE [dbo].[ChuyenTau]  WITH CHECK ADD  CONSTRAINT [FK_ChuyenTau_NhanVien] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[ChuyenTau] CHECK CONSTRAINT [FK_ChuyenTau_NhanVien]
GO
ALTER TABLE [dbo].[ChuyenTau]  WITH CHECK ADD  CONSTRAINT [FK_ChuyenTau_Tau] FOREIGN KEY([MaTau])
REFERENCES [dbo].[Tau] ([SoHieu])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[ChuyenTau] CHECK CONSTRAINT [FK_ChuyenTau_Tau]
GO
ALTER TABLE [dbo].[ChuyenTau]  WITH CHECK ADD  CONSTRAINT [FK_ChuyenTau_Tuyen] FOREIGN KEY([MaTuyen])
REFERENCES [dbo].[TUYEN] ([MaTuyen])
GO
ALTER TABLE [dbo].[ChuyenTau] CHECK CONSTRAINT [FK_ChuyenTau_Tuyen]
GO
ALTER TABLE [dbo].[GA_TRONG_TUYEN]  WITH CHECK ADD  CONSTRAINT [FK_GTT_Ga] FOREIGN KEY([MaGa])
REFERENCES [dbo].[Ga] ([MaGa])
GO
ALTER TABLE [dbo].[GA_TRONG_TUYEN] CHECK CONSTRAINT [FK_GTT_Ga]
GO
ALTER TABLE [dbo].[GA_TRONG_TUYEN]  WITH CHECK ADD  CONSTRAINT [FK_GTT_Tuyen] FOREIGN KEY([MaTuyen])
REFERENCES [dbo].[TUYEN] ([MaTuyen])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[GA_TRONG_TUYEN] CHECK CONSTRAINT [FK_GTT_Tuyen]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_HoaDon_KhachHang] FOREIGN KEY([MaKhachHang])
REFERENCES [dbo].[KhachHang] ([MaKhachHang])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_HoaDon_KhachHang]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_HoaDon_KhuyenMai] FOREIGN KEY([MaKM])
REFERENCES [dbo].[KhuyenMai] ([MaKM])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_HoaDon_KhuyenMai]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_HoaDon_NhanVienLap] FOREIGN KEY([MaNVLap])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_HoaDon_NhanVienLap]
GO
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD  CONSTRAINT [FK_NhanVien_CaLamViec] FOREIGN KEY([CaLamViec])
REFERENCES [dbo].[CaLamViec] ([MaCaLamViec])
GO
ALTER TABLE [dbo].[NhanVien] CHECK CONSTRAINT [FK_NhanVien_CaLamViec]
GO
ALTER TABLE [dbo].[TaiKhoan]  WITH CHECK ADD  CONSTRAINT [FK_TaiKhoan_NhanVien] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TaiKhoan] CHECK CONSTRAINT [FK_TaiKhoan_NhanVien]
GO
ALTER TABLE [dbo].[Toa]  WITH CHECK ADD  CONSTRAINT [FK_Toa_LoaiToa] FOREIGN KEY([maLoaiToa])
REFERENCES [dbo].[LoaiToa] ([MaLoaiToa])
GO
ALTER TABLE [dbo].[Toa] CHECK CONSTRAINT [FK_Toa_LoaiToa]
GO
ALTER TABLE [dbo].[Ve]  WITH CHECK ADD  CONSTRAINT [FK_Ve_ChoDat] FOREIGN KEY([MaChoDat])
REFERENCES [dbo].[ChoDat] ([MaCho])
GO
ALTER TABLE [dbo].[Ve] CHECK CONSTRAINT [FK_Ve_ChoDat]
GO
ALTER TABLE [dbo].[Ve]  WITH CHECK ADD  CONSTRAINT [FK_Ve_ChuyenTau] FOREIGN KEY([MaChuyenTau])
REFERENCES [dbo].[ChuyenTau] ([MaChuyenTau])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Ve] CHECK CONSTRAINT [FK_Ve_ChuyenTau]
GO
ALTER TABLE [dbo].[Ve]  WITH CHECK ADD  CONSTRAINT [FK_Ve_KhachHang] FOREIGN KEY([MaKhachHang])
REFERENCES [dbo].[KhachHang] ([MaKhachHang])
GO
ALTER TABLE [dbo].[Ve] CHECK CONSTRAINT [FK_Ve_KhachHang]
GO
ALTER TABLE [dbo].[Ve]  WITH CHECK ADD  CONSTRAINT [FK_Ve_LoaiVe] FOREIGN KEY([MaLoaiVe])
REFERENCES [dbo].[LoaiVe] ([MaLoaiVe])
GO
ALTER TABLE [dbo].[Ve] CHECK CONSTRAINT [FK_Ve_LoaiVe]
GO
USE [master]
GO
